.venv
.env
mlflow.db
standalone_admin_password.txt
airflow/logs
.venv_waze
antofTraffic
.DS_Store
__pycache__
data
**/.ipynb_checkpoints
v.ipynb
antof.ipynb
graph
*.csv
*.png
!dashboard/**/*.png
*.xlsx
t.py
exceptions.txt
v.py
mlartifacts
mlruns
sql.json
backup_waze.sql
airflow.cfg
.env
airflow
mlflow.db
*.log
*.aux
*.out
*.bbl
*.blg
*.bcf
*.toc
*.run.xml
!thesis/images
analisis/**/*.html
analisis/**/*.css
analisis/**/*.woff
analisis/**/*.js
analisis/**/*.py
thesis/build
data.csv


