:root {
    --bg-color: #111;
    --bg-color-secondary: #333;
    --bg-color-tertiary: rgba(85, 85, 85, 0.1);
    --bg-gradient: linear-gradient(32deg, rgba(20,20,20,1) 0%, rgba(40,40,40,1) 58%, rgba(45,45,45,1) 100%);

}

html {
    background-image: var(--bg-gradient);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2rem;
    margin: 2rem 0 0 0;
    text-align: center;
}

h1, h2, h3 {
    color: #ccc;
}


.subtitle {
    font-size: 1rem;
    margin: 0 0 0 0;
    color: #ccc;
    text-align: center;
    font-weight: lighter;
    text-wrap: wrap;
}

.instructions {
    max-width: 900px;
    font-size: 10pt;
    text-wrap: wrap;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.instructions h3 {
    color: white;
}

.instructions ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    line-height: 1.3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-wrap: nowrap
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.slider {
    width: 300px;
    color: #000;
    font-size: 1.2rem;
    margin: 2rem 0 1rem 0;
    background-color: var(--bg-color-secondary);
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 2rem 1rem;
}

.plot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: normal;
}

.ml-map {
    height: 1000px;
    width: 500px;
}

.title_ml {
    text-align: center;
    font-size: 2.5rem;
}

.ml-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem;
}

.plot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.plot-container > h2 {
    margin: 2rem 0 2rem 0;
    color:#bbb;
    font-size: 1.3rem;
    text-wrap: wrap;
}

input, .Select-value-label {
    color: #fff !important;
    font-size: 1.2rem;
    background-color: var(--bg-color-secondary) !important;
}

.DateRangePickerInput_arrow_svg {
    background-color: var(--bg-color-secondary) !important;
    height: 46px !important;
    fill: #fff !important;
}


.Select-menu-outer {
    background-color: #333 !important; /* Cambia el color de fondo del desplegable */
    color: white !important;           /* Cambia el color del texto en el desplegable */
}

.CalendarMonth, .CalendarMonth_1, .CalendarMonthGrid_month__hidden, .CalendarDay, .DayPickerNavigation_button, .CalendarMonth_caption {
    background-color: var(--bg-color-secondary) !important;
    color: #fff !important;
    stroke: #fff !important;
}

#table, #table_ml, #table_last {
    width 100%;
}

#dd_type {
    margin: 2rem 0 1rem 0;
}

#dd_type, #dd_type_ml, #dd_hour_ml {
    width: 300px;
    font-size: 1.2rem;
}

h3 {
    margin: 1rem 0 0 0;
}

.Select-control {
    background-color: var(--bg-color-secondary) !important;
}

#date_range {
    width: 300px;
    color: #fff;
    font-size: 1rem;
    margin: 2rem 0 1rem 0;
}

#map {
    width: 500px;
    height: 500px;
}

#hourly {
    width: 600px;
    height: 500px;
}

@media screen and (max-width: 1100px) {
    .first-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .ml-map {
        height: 1000px;
        width: 380px;
    }
    .ml-zone {
        padding: 0 ;
        flex-direction: column-reverse;
    }
    .row {
        flex-direction: column;
    }
    
    .plot-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem ;
    }

    #table, #table_ml, #table_last {
        padding: 1rem 0;
        width: 380px ;
        text-wrap: wrap;
    }

    .plot, .plot-container, #map, #hourly, #dd_type, #date_range, .header, .first-row {

        width: 380px;
        height: auto;
    }

    .controls {
        width: 100%;
        gap: 4rem;
        justify-content: space-between;
    }

    #date_range {
        text-align: center;
    }

    h1 {
        font-size: 2rem;
    }
    h1, h2, h3, h4 {
        text-wrap: wrap;
    }
    
}

@media screen and (max-width: 600px) { 
    .controls {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .container {
        margin: 0 2rem;
}

}
